body {
  text-align: center;
  width: 88%;
  margin: 0 auto;
}
h1 {

}
p {

}
.content{
  background-color: black;
  border: 2px solid;
}
.searchForm{

}
.form{

}
.searchTerm{

}
.searchButton{

}
.showControls{

}
#stopShow{

}
#startShow{

}
