
body {
  text-align: center;

}

p {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
}

.stopbutton {
    font-family: 'Lato', sans-serif;
    color: red;
}

#searchbox {

}

#searchbutton {
  color: red;
}



.slideShowBox {
  margin: 80px auto;
  position: relative;
  width: 240px;
  height: 240px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.slideShowBox > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
