.hide {
  display: none;
}
body {
  background: black;
}
.container {
  background-color: blue;
  text-align: center;
  padding-bottom: 3vh;
  border-radius: 10px;
}
#searchterm {
  border-radius: 5px;
}
.buttons {
  width: 30vw;
  margin: 2vh auto;
  background-color: gray;
  text-align: center;
  border-radius: 5px;
}
#results {
  width: 30vw;
  height: auto;
  margin: 0 auto;
  background-color: gray;
}
img {
  width: 30vw;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .buttons {
    width: 40vw;
  }
  #results {
    width: 40vw;
  }
  img {
    width: 40vw;
  }
}
@media (max-width: 500px) {
  .buttons {
    width: 50vw;
  }
  #results {
    width: 50vw;
  }
  img {
    width: 50vw;
  }
}
