body {
  font-family: sans-serif;
}
h1 {
  margin-left: 30px;
}
h2 {
  margin-left: 70px;
}
#userInput {
  margin-left: 100px;
}
#pictureResults {
  width: 300px;
  margin: 30px 100px;
}
.imgContainer {
  vertical-align: middle;
}

